<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/carto.svg" alt="" height="150px">
      </a>
      <br>
      <br>
      <h1>用戶登入</h1>
      <br>
    </div>
    <form id="login_form">
      <div class="form-group">
        <label for="">信箱</label>
        <input type="email" class="form-control" id="" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="">密碼</label>
        <a class="pull-right" href="">忘記密碼？</a>
        <input type="password" class="form-control" id="" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">記住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登入</button>
    </form>
    <div class="message">
      <p>沒有帳號? <a href="/register">點擊註冊</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    
  </script>
</body>

</html>